
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	color: blue;
	text-align: center;
	margin-top: 20px;
}

p {
	text-align: left;
}

.row {
	width: 100%;
	text-align: center;
}

.cont{
	margin: 20px;
	border: 2px solid black;
	background-color: #aaa;
}

.content {
	clear: right;
	padding: 10px;
}

.titel1 {
	border: 1px solid black;
	background-color: #f2a2ac;
	width: 30%;
	text-align: right;
	float: right;
	padding: 5px;
}
.titel2 {
	border: 1px solid black;
	background-color: #d46a68;
	width: 30%;
	text-align: right;
	float: right;
	color: white;
	padding: 5px;
}
.titel3 {
	border: 1px solid black;
	background-color: #f5f2a4;
	width: 30%;
	text-align: right;
	float: right;
	padding: 5px;
}

@media (min-width: 992px){
.col-lg-4 {
	float: left;
}

.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-12 {
	width: 100%;
}}

@media (min-width: 768px) and (max-width: 991px) {
.col-md-6 {
	float: left;
}

.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33%;
}
.col-md-6 {
	width: 50%;
}
.col-md-12 {
	width: 100%;
}}

@media (max-width: 767px) {
.col-sm-12 {
	float: left;
}

.col-sm-3 {
	width: 25%;
}
.col-sm-4 {
	width: 33%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-12 {
	width: 100%;
}}